/*********/
/*Product*/
/*********/

/* Body */
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}



/* navBanner */
.navBanner{
	background-color: #111;
	top: 0;
	width: 100%;
	height: 30px;
	z-index: 1;
	padding: 20px;
	display: flex;
	align-items: center;
	transition: all 0.5s;
}

.nav_logo{
	position: fixed;
	left: 20px;
	width: 90px;
	object-fit: contain;
}

.nav_liste{
	position: fixed;
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0 0 0 7rem ;
	color: white;

}

li{
	padding: 0 25px 0 25px;
	cursor: pointer;
}

.nav_glass{
	position: fixed;
	width: 40px;
	margin-left: 80%;
	color: white;
	cursor: pointer;
}

.nav_bell{
	position: fixed;
	width: 40px;
	margin-left: 85%;
	color: white;
	cursor: pointer;
}

.nav_pp{
	position: fixed;
	width: 55px;
	height: 55px;
	margin-left: 90%;
	color: white;
	object-fit: cover;
	cursor: pointer;
}